@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before {
    position: absolute;
    width: min(1400px, 90vw);
    top: 10%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: '';
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: none;
}

.circle {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-image: url(images/tanjiro3.jpg);
    background-size: 300%;

}

.circle .slider {
    position: absolute;
    width: 180px;
    height: 220px;
    top: 8%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

.item img {
    transition: all 0.5s ease-in;
}

.item img:hover {
    transform: translateY(-50px);
    cursor: pointer;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.circle .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}

.circle .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1444px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 40px;
}

.circle .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 9em;
    line-height: 1em;
    color: #25283b;
    position: relative;
}

.circle .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.circle .content .author {
    font-family: Poppins;
    text-align: right;
    position: relative;
    z-index: 9;
    max-width: 200px;
    color: white;
}

.circle .content h2 {
    position: relative;
    font-size: 3em;
    z-index: 6;
}

.circle .content .model {
    background-image: url(images/tanjiro3.jpg);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

@media screen and (max-width: 1023px) {
    .circle .slider {
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }

    .circle .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }

    .circle .content h1 {
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }

    .circle .content .author {
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}

@media screen and (max-width: 767px) {
    .circle .slider {
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }

    .circle .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }

    .circle .content h1 {
        font-size: 5em;
    }
}

section {
    font-family: "Phudu", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.page2 {
    height: 98%;
    width: 95%;
    margin: 2%;
    border-radius: 3%;
    overflow: hidden;
}

.cards {
    height: 99vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.cards h1 {
    cursor: pointer;
    height: 100%;
    border: 1px solid white;
    flex: 1;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
    overflow: hidden;
}

.cards h1 span {
    transform: rotate(-90deg);
    text-align: center;
    transition: all 0.8s;
}

.cards h1:hover {
    flex: 10;
}

.cards h1:hover span {
    transform: rotate(0deg);
}

.cards img {
    height: 100vh;
    object-fit: cover;
    margin-top: 190px;
}

.cards p {
    position: relative;
    z-index: 2;
    bottom: 330px;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-family: 'ICA Rubrik';
    font-size: 60px;
}

.cards h4 {
    position: relative;
    z-index: 2;
    bottom: 200px;
    color: white;
    font-family: 'ICA Rubrik';
    align-content: start;
}

.cards h4 span {
    color: rgb(103, 103, 242);
}

.cards h3 {
    position: relative;
    z-index: 2;
    bottom: 800px;
    right: 300px;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-family: 'ICA Rubrik';
    align-content: start;
}

.cards h3 span {
    color: rgb(103, 103, 242);
}

.page3 {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page3 h1{
    font-size: 72px;
}

.container {
    height: 85%;
    width: 85%;
    border-radius: 40px;
    background-color: #9a9fce;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    position: sticky;
    top: 0;
}

.cardLeft {
    height: 50%;
    width: 50%;
    font-size: 20px;
    margin-left: 35px;
    color: rgb(247, 245, 245);
}

.cardLeft h1 {
    margin-bottom: 30px;
}

.cardRight {
    height: 90%;
    width: 50%;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 4.8%;
}

.cardRight img {
    height: 100%;
    overflow: none;
}

.container-1 {
    height: 85%;
    width: 85%;
    background-color: #C3110C;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.container-2 {
    height: 85%;
    width: 85%;
    background-color: #F075AE;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.container-3 {
    height: 85%;
    width: 85%;
    background-color: #a4d1df;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.container-4 {
    height: 85%;
    width: 85%;
    background-color: #CDB885;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.anime-footer {
  background: #0d0d1a; 
  width: 92%;
  margin-left: 4%;
  margin-bottom: 2%;
  border-radius: 20px;
  color: #eee;
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 60px;
  max-width: 1200px;
  margin-left: 8%;
}

.footer-about h3 {
  color: #ff79c6; 
  font-size: x-large;
}
.footer-links{
    margin-left: 25%;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 8px 0;
}

.footer-links a {
  text-decoration: none;
  transition: 0.3s;
  color: #ff79c6;
}

.footer-links a:hover {
    color: #eee;
    text-decoration: underline;
}


.footer-social .social-icons a {
  margin-right: 15px;
  display: inline-block;
}

.footer-social img {
  width: 24px;

  margin-top: 10px;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}

.footer-social img:hover {
  filter: brightness(0) invert(1) drop-shadow(0px 0px 10px #fff5fb);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  border-top: 1px solid #444;
  padding-top: 15px;
}
