@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.circle {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;

}

.circle .slider {
    position: absolute;
    width: 180px;
    height: 220px;
    top: 8%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
/* .item img:hover{
    transform: translateY(-50px);
    transition: ease-in-out cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
} */

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.circle .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}

.circle .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1444px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 40px;
}

.circle .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 9em;
    line-height: 1em;
    color: #25283b;
    position: relative;
}

.circle .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.circle .content .author {
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
    color: white;
}

.circle .content h2 {
    font-size: 3em;
}

.circle .content .model {
    background-image: url(images/giyu2.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

@media screen and (max-width: 1023px) {
    .circle .slider {
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }

    .circle .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }

    .circle .content h1 {
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }

    .circle .content .author {
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}

@media screen and (max-width: 767px) {
    .circle .slider {
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }

    .circle .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }

    .circle .content h1 {
        font-size: 5em;
    }
}